body{
  margin:0px;
  padding:0px;
  height: 720px;
  padding-top: 150px;
  text-align: center;
  z-index: 0;
  background: red; /* For browsers that do not support gradients */    
  background: -webkit-linear-gradient(left top, #0000FF, #4CA64C); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #0000FF, #4CA64C); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #0000FF, #4CA64C); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #0000FF, #4CA64C); /* Standard syntax (must be last) */
}
nav{
   padding:10px;
   background-image:url("mat.jpeg");
   background-size:cover;
   background-repeat: no-repeat;
}
a{
  text-decoration:none;
  padding:10px;
  font-family:trebuchet ms;
  color:black;
}
a:hover{
  padding:5px;
  color:white;
  text-decoration:underline;
}

.header{
  font-family:trebuchet ms;
}
.center{
  text-align:center;
  background-color:#BCC6CC;
  background-image:url("mat.jpeg");
  background-size:cover;
  background-repeat: no-repeat;
}
